body{
    background-color: rgb(212, 49, 212);
}
.top{
    font-size: 400%;
    text-align: center;
}
.container{
    font-size: xx-large;
}
.dice1{
    position: absolute;
    right: 60%;
    margin-right: 20px;
}
.dice2{
    position: absolute;
    right: 30%;
    margin-left: 20px;
}
img{
    height: 180px;
    width: 180px;
}
footer{
    align-items: center;
    position: absolute;
    bottom: 2%;
    left: 50%;
    color: antiquewhite;
}